Aircraft Risk Analysis

1. Project Aim

The goal of this project is to identify the safest aircraft for the company to invest in the aviation industry. 


2. Key Questions to Explore 

→ Which aircraft makes have the highest and lowest number of injuries in accidents?

→ Which aircraft models are most frequently involved in severe injury accidents?

→ Is there a significant difference in accident severity between different aircraft categories?

→ How does the extent of aircraft damage correlate with the number of injuries in an accident?

→ How do different weather conditions impact the severity of injuries in accidents?

→ Which phases of flight are most associated with severe injuries and fatalities?

→ Does the status of an accident report provide insights into injury trends?

→ Which airports have the most accidents with serious injuries?


3. Approach  to Use
 
→  **Load and explore the dataset** – Understand the structure of the data.  
→  **Data cleaning** – Handle missing values, remove duplicates, and fix inconsistencies.  
→  **Data analysis** – Identify trends and patterns in accident risk.  
→  **Visualization** – Create charts and graphs to present key insights.  
→  **Conclusion** – Summarize findings and recommend the safest aircraft for the company.

Importing all the necessary libraries

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#matplotlib plots will appear directly below the cell in which the plot fuction is called
%matplotlib inline

In [15]:
#find the file path
!ls

AviationData.csv
README.md
USState_Codes.csv
index.ipynb

Read in the csv files

In [16]:
df = pd.read_csv("AviationData.csv")
df

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 5: invalid continuation byte

In [17]:
#find the correct encoding that work to read the csv file

# Import encoding aliases available in Python
from encodings.aliases import aliases #python has a file containing a dictionary of encoding names and associated aliases

alias_values = set(aliases.values()) #creates a set of all available encodings

for encoding in set(aliases.values()):
    try:
        df = pd.read_csv("AviationData.csv", nrows = 10,encoding = encoding)#read in only the 10 lines for faster read
        print('successful',encoding)
    except:
        pass

successful iso8859_7
successful cp1125
successful big5
successful cp869
successful gb18030
successful shift_jisx0213
successful iso2022_jp
successful cp865
successful cp1258
successful iso8859_11
successful iso8859_13
successful cp852
successful iso2022_jp_ext
successful gbk
successful iso8859_16
successful cp850
successful iso8859_4
successful hp_roman8
successful cp1255
successful mac_latin2
successful iso2022_jp_2
successful cp858
successful mac_turkish
successful cp1256
successful cp1250
successful utf_8
successful iso8859_6
successful cp1140
successful iso8859_8
successful iso8859_2
successful cp950
successful tis_620
successful koi8_r
successful cp1026
successful cp1253
successful ascii
successful cp860
successful cp861
successful cp1254
successful iso2022_kr
successful big5hkscs
successful iso2022_jp_1
successful johab
successful hz
successful mbcs
successful iso8859_3
successful euc_jisx0213
successful cp500
successful iso8859_15
successful mac_roman
successful kz1048
successful shift_jis_2004
successful cp862
successful cp273
successful mac_iceland
successful cp037
successful gb2312
successful mac_cyrillic
successful iso2022_jp_2004
successful iso8859_9
successful cp1251
successful cp863
successful cp855
successful cp1252
successful iso2022_jp_3
successful euc_jis_2004
successful cp1257
successful cp864
successful mac_greek
successful cp949
successful cp866
successful shift_jis
successful iso8859_5
successful cp932
successful euc_jp
successful cp437
successful ptcp154
successful cp857
successful euc_kr
successful iso8859_14
successful iso8859_10
successful cp775
successful latin_1

In [20]:
#Read in the AviationData.csv file
Aviation = pd.read_csv("AviationData.csv", encoding= "latin_1")

#latin_1 → Works well for Western characters and avoids UnicodeDecodeError.

Explore the dataset

In [23]:
Aviation.head() #check the first 5 rows

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [24]:
Aviation.tail() #check the last 5 rows

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [25]:
Aviation.shape # check the shape of the data. it has 88889 rows and 31 columns.

(88889, 31)

In [26]:
Aviation.index # check the row labels of the data

RangeIndex(start=0, stop=88889, step=1)

In [27]:
Aviation.info() # get the overview of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [28]:
Aviation.describe() #summary statistics of the numerical columns

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

DATA CLEANING